<?xml version="1.0" encoding="utf-8" ?>
<PluploadConfiguration>
  <FileFilters>
    <Filter title="Images (.jpg,.jpeg,.png,.gif,.tiff,.ico)" extensions="jpg,jpeg,png,gif,tiff,ico" />
    <Filter title="Documents (.pdf,.doc,.docx,.ppt,.pptx)" extensions="pdf,doc,docx,ppt,pptx" />
  </FileFilters>

  <Runtimes>html5,gears,flash,silverlight,browserplus</Runtimes>
  <PluploadServerURL>~/Plupload/saveFile</PluploadServerURL>
  <MaxFileSize>1024mb</MaxFileSize>
  <MultipleQueues>true</MultipleQueues>
  <URLStreamUpload>true</URLStreamUpload>


  <Resize>
    <!-- 
      <AspectRatio>true</AspectRatio>
      <width>640</width>
      <height>480</height>
      <quality>75</quality>
    -->
  </Resize>



  <CSSPluploadQueue>~/Ressource/EmbeddedCSS?cssPath=Plupload.Net.Content.css.jquery.plupload.queue.css</CSSPluploadQueue>
  <CSSPluploadDotNet>~/Ressource/EmbeddedCSS?cssPath=Plupload.Net.Content.css.plupload.net.css</CSSPluploadDotNet>
  <CSSLightBox>~/Ressource/EmbeddedCSS?cssPath=Plupload.Net.Content.css.jquery.lightbox-0.5.css</CSSLightBox>

  <JSBrowserPlus>~/Ressource/EmbeddedJavaScript?scriptPath=Plupload.Net.Scripts.browserplus-min.js</JSBrowserPlus>
  <JSjQuery>~/Ressource/EmbeddedJavaScript?scriptPath=Plupload.Net.Scripts.jquery-1.7.2.min.js</JSjQuery>
  <JSLightbox>~/Ressource/EmbeddedJavaScript?scriptPath=Plupload.Net.Scripts.jquery.lightbox-0.5.js</JSLightbox>
  <JSPluploadFull>~/Ressource/EmbeddedJavaScript?scriptPath=Plupload.Net.Scripts.plupload.full.js</JSPluploadFull>
  <JSPluploadQueue>~/Ressource/EmbeddedJavaScript?scriptPath=Plupload.Net.Scripts.jquery.plupload.queue.js</JSPluploadQueue>
  <JSjQueryUI>~/Ressource/EmbeddedJavaScript?scriptPath=Plupload.Net.Scripts.jquery-ui-1.8.11.min.js</JSjQueryUI>
  <JSPluploadDotNet>~/Ressource/EmbeddedJavaScript?scriptPath=Plupload.Net.Scripts.plupload.net.js</JSPluploadDotNet>
  <JSPluploadPreload>~/Ressource/EmbeddedJavaScript?scriptPath=Plupload.Net.Scripts.plupload.preload.js</JSPluploadPreload>
  

  <Silverlight>~/Ressource/EmbeddedBinaryRessource?streamPath=Plupload.Net.Scripts.plupload.silverlight.xap</Silverlight>
  <Flash>~/Ressource/EmbeddedBinaryRessource?streamPath=Plupload.Net.Scripts.plupload.flash.swf</Flash>

  <UseCDN>false</UseCDN>
  <UploadDirectory>~/PluploadUploadFolder/</UploadDirectory>
  <LogDirectory>~/PluploadLogs/</LogDirectory>
  <SaveOptions>RenameIfExists</SaveOptions>
  <Debug>false</Debug>
  
</PluploadConfiguration>