<?xml version="1.0" encoding="utf-8" ?>
<PluploadConfiguration>                           
  <CSSPluploadQueue>~/Ressource/GetCSS?cssPath=Plupload.Net.Content.css.jquery.plupload.queue.css</CSSPluploadQueue>
  <CSSPluploadDotNet>~/Ressource/GetCSS?cssPath=Plupload.Net.Content.css.plupload.net.css</CSSPluploadDotNet>
  <CSSLightBox>~/Ressource/GetCSS?cssPath=Plupload.Net.Content.css.jquery.lightbox-0.5.css</CSSLightBox>

  <JSBrowserPlus>~/Ressource/GetJavaScript?scriptPath=Plupload.Net.Scripts.browserplus-min.js</JSBrowserPlus>
  <JSjQuery>~/Ressource/GetJavaScript?scriptPath=Plupload.Net.Scripts.jquery-1.7.2.min.js</JSjQuery>
  <JSLightbox>~/Ressource/GetJavaScript?scriptPath=Plupload.Net.Scripts.jquery.lightbox-0.5.js</JSLightbox>
  <JSPluploadFull>~/Ressource/GetJavaScript?scriptPath=Plupload.Net.Scripts.plupload.full.js</JSPluploadFull>
  <JSPluploadQueue>~/Ressource/GetJavaScript?scriptPath=Plupload.Net.Scripts.jquery.plupload.queue.js</JSPluploadQueue>
  <JSjQueryUI>~/Ressource/GetJavaScript?scriptPath=Plupload.Net.Scripts.jquery-ui-1.8.11.min.js</JSjQueryUI>
  <JSPluploadDotNet>~/Ressource/GetJavaScript?scriptPath=Plupload.Net.Scripts.plupload.net.js</JSPluploadDotNet>

  <Silverlight>~/Ressource/GetStream?streamPath=Plupload.Net.Scripts.plupload.silverlight.xap</Silverlight>
  <Flash>~/Ressource/GetStream?streamPath=Plupload.Net.Scripts.plupload.flash.swf</Flash>
</PluploadConfiguration>