@using Plupload.Net.Model               
                            
<h1>Ajax loading</h1>


<a href="javascript:LoadPlupload()">load plupload...</a>
                                            
@Html.PluploadDynamicPlaceholder()