@using Plupload.Net.Model
<html>
    <head>
        <title>Plupload.Net - MVC3 example</title>
    </head>
    <body>
        <h1>Plupload.Net - MVC3 implementation</h1>

        @Html.Plupload(new PluploadConfiguration() { UploadDirectory = "~/Uploads/", Debug = true })

    </body>
</html>